

.pageLayout {
    padding:1.5em;
    padding-left: 100px;
}

.outer-card {
    padding:1.5em;
}

.inner-card{
    border: solid 1px black;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    .inner-card{
        width: 145px;
    }
    .outer-card{
        width: 460px;
    }
}